/* css comments */
body {
  font-family: sans-serif;
}

h1 {
  color: purple;
  padding: 20px;
  width: 80%;
  background-color: red;
  text-align: center;
}

h2 {
  color: blue;
}

h3 {
  color: yellow;
}
